<div>
  <app-header></app-header>
  <div class="container">
    <div class="formHeading pt-4 pb-4">Future Assemblies Planned</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Assembly Id</th>
          <th scope="col">Assembly Process Description</th>
          <th scope="col">Sub Assembly Id</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>tub</td>
          <td>sheet steel</td>
          <td>T101</td>
          <td>14-02-2020</td>
          <td>21-02-2020</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>plastics</td>
          <td>T102</td>
          <td>16-02-2020</td>
          <td>20-02-2020</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>spin tub</td>
          <td>wash tub</td>
          <td>T103</td>
          <td>27-02-2020</td>
          <td>03-05-2020</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <hr class="hrStyle" />
  </div>
  <div class="formHeading pt-4 pb-4">Assembly Distributed Across Process</div>
  <div class="chart-container">
    <canvas id="MyChart1">{{ chart1 }}</canvas>
  </div>
</div>
