.formHeading{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #103887;
}

.hrStyle{
    border: 1px solid rgba(13,110,253) ;
    color: rgb(13, 109, 253);
   
}

.chart-container1{
    /* padding-left: 5%;
    padding-right: 5%; */
    width: 50%;
    left: 25%;
    position: absolute

    ;
}